@font-face {
    font-family: 'quicksandbook';
    src: url('../fonts/quicksand_book-webfont.woff2') format('woff2'), url('../fonts/quicksand_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Quicksand', Arial, sans-serif;
    font-style: normal;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.42;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1195px;
    width: 90%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
}

.header__right {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 53px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__block {
    opacity: 0;
    margin-left: 5px;
    height: 25px;
    width: 25px;
    background-color: white;
}

.logo__pic:hover {
    animation: logo 3s 1;
}

.logo:hover>.logo__block {
    animation: lblock .4s linear 1s;
}

@keyframes logo {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(100deg);
    }
    50% {
        transform: rotate(-70deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes lblock {
    0% {
        opacity: 1;
        transform: translateX(0)
    }
    75% {
        transform: translateX(150px);
        opacity: 1;
    }
    100% {
        transform: translateX(200px);
    }
}

.logo__pic {
    width: 100%;
}

.nav__link {
    text-decoration: none;
    color: #ffffff;
}

.nav__item:hover {
    animation: nlink 1s;
}

@keyframes nlink {
    0% {
        letter-spacing: 1px;
    }
    50% {
        letter-spacing: 3px;
    }
    100% {
        letter-spacing: 1px;
    }
}

.cart {
    position: relative;
}

.cart__dropdown {
    position: absolute;
    text-align: center;
    min-width: 100px;
    background-color: blanchedalmond;
    color: peru;
    padding: 5px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    right: -9999px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .8);
}

.cart__dropdown::before {
    content: "";
    display: block;
    left: 0;
    right: 0;
    top: -45px;
    position: absolute;
    height: 20px;
}

.cart__triangle {
    position: absolute;
    top: -20px;
    right: 0;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid blanchedalmond;
    border-left: 10px solid transparent;
}

.cart:hover .cart__dropdown {
    right: 0px;
}

.nav__item:hover .dropdown {
    left: 50%;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    height: 100vh;
    min-height: 650px;
    background: url(../img/bg/Livello_1.jpg) center/cover no-repeat;
    color: #ffffff;
    position: relative;
}

.main__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 896px;
}

.main__title {
    font-size: 60px;
    margin: 0.9em 0;
    text-align: center;
}

.main__desc {
    font-family: 'quicksandbook', Arial, sans-serif;
    font-style: normal;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.42;
    margin: 0;
    padding: 0;
    text-align: center;
}

.down {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translate(-50%);
    animation: roll 0.5s infinite alternate;
}

@keyframes roll {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

.product__filter-gender-text {
    text-transform: uppercase;
}

.product__filter-link {
    padding: 20px 34px;
    background-color: #aa9b77;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    border-radius: 4px;
}

.product__filter {
    background-color: #f5f6f7;
    padding: 43px 0;
}

.product__filter-list {
    display: flex;
}

.product__filter-item {
    margin-right: 39px;
}

.product__container {
    padding: 0px 30px;
}

.product__filter-content {
    display: flex;
    justify-content: space-between;
}

.product__list {
    padding: 0px 37px;
}

.product__element-list {
    display: flex;
    justify-content: space-between;
}

.product__separator {
    display: flex;
    align-items: center;
    margin-top: 87px;
}

.product__separator-text {
    text-transform: uppercase;
    font-size: 20px;
    padding-right: 45px;
    color: #424242;
}

.product__separator-line {
    border-bottom: 2px solid #cccccc;
    flex-grow: 1;
}

.product__separator-text_left {
    text-transform: uppercase;
}

.product__separator-text_right {
    padding-right: 0px;
    padding-left: 9px;
}

.product__separator_rev {
    display: flex;
    flex-direction: row-reverse;
}

.product__switch-content_end {
    flex-direction: row-reverse;
}

.product__switch-content {
    margin: 13px;
    display: flex;
    justify-content: flex-end;
    color: #aa9b77;
}

.product__element-item {
    display: flex;
    width: 320px;
    height: 380px;
    background-color: #f5f6f7;
    flex-direction: column;
    text-transform: uppercase;
    padding: 30px 25px;
    justify-content: space-between;
    margin-right: 65px;
    border: 5px solid transparent;
    transition: all 1s;
}

.product__element-item:hover {
    border-color: #aa9b77;
}

.product__element-item:last-child {
    margin: 0;
}

.product__element-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product__element-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.product__element-name {
    color: #aa9b77;
}

.product__element-img {
    height: 100%;
    align-items: center;
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.product__element-color {
    margin-right: 5px;
}

.product__element-color:last-child {
    margin: 0;
}

.product__element-color-list {
    display: flex;
    align-items: center;
}

.product__element-color-link {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    display: inline-block
}

.product__element-color-link_blue {
    background-color: blue;
}

.product__element-color-link_yellow {
    background-color: yellow;
}

.product__element-color-link_grey {
    background-color: grey;
}

.product__element-color-link_pink {
    background-color: #d3a7ac;
}

.product__element-color-link_white {
    background-color: white;
}

.product__paginator {
    display: flex;
    justify-content: center;
}

.product__prev-page {
    margin-right: 8px;
}

.product__prev-page:last-child {
    margin: 0;
}

.about {
    display: flex;
    align-items: center;
    background-color: #aa9b77;
    text-align: center;
    margin-top: 131px;
}

.about__content-frame {
    border: solid 1px #918363;
    margin: 77px 220px;
}

.about__content-desc {
    color: #424242;
    margin: 90px 120px;
}

.about__content-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #837659;
}

.contact {
    display: flex;
    align-items: center;
    min-height: 350px;
    flex: 0 0 auto;
    color: white;
    background-color: #424242;
}

.contact__container {
    display: flex;
}

.twitter {
    display: flex;
    align-items: center;
    background-color: #535253;
    padding: 24px;
    color: white;
}

.twitter__logo {
    margin-right: 20px;
}

.twitter_container {
    display: flex;
}

.contact__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact__content-title {
    text-transform: uppercase;
    margin-bottom: 22px;
}

.contact__links {
    align-items: center;
}

.contact__links-list {
    display: flex;
    justify-content: flex-end;
}

.creator {
    display: flex;
    justify-content: flex-end;
}

.creator__link {
    color: white;
    text-decoration: none;
}

.creator__link:hover {
    animation: creator 5s infinite;
}

@keyframes creator {
    25% {
        color: red;
    }
    50% {
        color: blue;
    }
    100% {
        color: orangered
    }
}

.contact__links-item::after {
    content: '|';
    display: inline-block;
    margin: 0 5px;
}

.contact__links-item:hover {
    animation: nlink 1s;
}

.contact__links-item:last-child::after {
    margin: 0;
    content: '';
}

.contact__links-link {
    text-decoration: none;
    color: white;
}

.contact__row {
    flex: 1;
    align-items: center;
}

.product__filter-check {
    display: flex;
    position: relative;
    cursor: pointer;
}

.product__filter-gender {
    position: absolute;
    left: -9999px;
    top: 0;
}

.product__filter-checkbox {
    height: 25px;
    width: 25px;
    color: white;
    border: solid 2px #aa9b77;
    border-radius: 3px;
    margin-right: 20px;
}

.product__filter-gender:checked+.product__filter-checkbox {
    display: flex;
    height: 25px;
    width: 25px;
    background: url(..//img/icon/check.png) center/80% no-repeat;
}